/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	/*background-color: #eae5e9;*/
	background-color: #FDFDFD;
	font-family: 'Open Sans';
	
}
#container{
	/*background-color: #55FF00;*/

	position: relative;
	width: 100%;
	top:5em;
}
#content {
	padding: 20px;
	background-color: #FDFDFD;
	width: 50%;
	margin: 0 auto;
	position: relative;

}

header {
	/*background-image: image-url("logo.png");*/
	 z-index:9; 
	position: fixed;
	margin: 0 !important;
	background-color: #FDFDFD;
	padding: 0 !important;
	top: 0;
	left: 0px;
	margin-left: 0;
	width: 100%;
	border-bottom: solid #DFDFDF;
    border-width: 0px 0px 1px 0px;
	/*overflow: hidden;*/
	/*transform: translateX(100%);*/
	/*padding: 2em;*/


}
header .logo{
	position: relative;
	left: 1%;
	/*background-color: yellow;*/
	background: url("logo_small.png");
	height: 75px;
	width: 210px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}