
/*
 *= require_tree .
 *= require_self
 */
.article h2,h1 {
    font-family: 'Playfair Display','Open Sans';
    
    font-weight: 400;
    font-style: italic;
    font-size: 2.5em;
    letter-spacing: 0.07em;

    line-height: 1.2;
  	margin-bottom: 0.5em;
}

#tags{
	font-weight: bold;
}
#tags .tag{
    background-color: #E1ECF4;
    border-color: transparent;
	margin-left: 0.2em;
	border-radius:0.5em;
	padding: 0 0.4em 0.2em 0.4em;
}
#tags .tag:hover{
  background-color: #A8CBFF;
}
#tags .tag a{
	color: #39739d;
	font-size: 0.7em;
	text-decoration: none;

}
.article p {
    font-size: 1.2em;
    line-height: 1.2;
    letter-spacing: .01em;

}

.link{
	font-size: 1em;
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;

}

.input_area{
	
	padding: 3px;
	width: 50%;
	border: 1px solid rgba(83,90,96,0.3);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 

}
.input_area:hover{
	border: 1px solid;
}

#comments input{
	font-weight: bold;
    letter-spacing: 0.07em;
    font-size: 1em;
}

#comments textarea{
	height: 10em;

}

#comments #submit {
	width: 25%;
	letter-spacing: 0.1em;
	color: #757575;
	border-color: transparent;
	border-radius: 0px;
	border-width:0.5px 0.5px 0.5px 0.5px;
	background-color: #f2f2f2;

    font-size: 0.9em;
    font-weight: bold;
    padding: 0.7em 1em;
    text-align: center;
}


#comments #submit:hover{

	color: black;
	border: 1px solid rgba(83,90,96,1);
	border-style: solid;

}
#article_edit label{
	font-weight: bold;
}
#article_edit input, textarea{
	width: 100%;
	letter-spacing: 0.07em;
    font-size: 0.8em;
    padding: 0.5em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 

}

#article_edit textarea{
 font-size: 1em;
 height: 30em;
}

#article_edit input[type=submit]{
	font-size: 1em;
	font-weight: bold;
	border-color: transparent;
    border-radius: 0px;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    background-color: #f2f2f2;
    color: #757575;
	
}
#article_edit input[type=submit]:hover{
	color: black;
	border-color: black;
}
